<mat-tab-group class="primary-two" initialSelectedIndex=2>
  <mat-tab label="Upload Your Transactions">
    <button id="menu-button" mat-button>Upload Transactions</button>
    <ul class="transactions">
      <li *ngFor="let trans of transactions">
        <a routerLink="/detail/{{trans.id}}">
          <span class="badge">{{trans.id}}</span>
        </a>
        <button class="delete" title="delete trans" (click)="delete(trans)">x</button>
      </li>
    </ul>
  </mat-tab>
  <mat-tab label="Edit Your Descriptions">
    <!-- Editable table -->
    <div class="card">
      <div class="card-body">
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2">
            <a class="text-success" (click)="add()">
              Add
              <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
            </a>
          </span>
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Date</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Location</th>
              <th class="text-center">Category One</th>
              <th class="text-center">Category Two</th>
              <th class="text-center">Description</th>
            </tr>
            <tr *ngFor="let transaction of transactions; let id = index">
              <td>
                <span (keyup)="changeValue(id, 'date', $event)" (blur)="updateList(id, 'date', $event)"
                  contenteditable="true">{{transaction.date}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue(id, 'amount', $event)"
                  (blur)="updateList(id, 'amount', $event)">{{transaction.amount}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue(id, 'location', $event)"
                  (blur)="updateList(id, 'location', $event)">{{transaction.location}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue(id, 'categoryOne', $event)"
                  (blur)="updateList(id, 'categoryOne', $event)">{{transaction.categoryOne}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue(id, 'categoryTwo', $event)"
                  (blur)="updateList(id, 'categoryTwo', $event)">{{transaction.categoryTwo}}</span>
              </td>
              <td>
                <span class="table-remove">
                  <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                    (click)="remove(id)">Remove</button>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Editable table -->
  </mat-tab>
  <mat-tab label="Visualize"> Visualize </mat-tab>
</mat-tab-group>