<mat-tab-group class="primary-two">
  <mat-tab label="Upload Your Transactions">
    <button id="menu-button" mat-button>Upload Transactions</button>
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
      </li>
    </ul>
  </mat-tab>
  <mat-tab label="Edit Your Descriptions"> Edit Your Descriptions </mat-tab>
  <mat-tab label="Visualize"> Visualize </mat-tab>
</mat-tab-group>